<!DOCTYPE html>
<html>
<head>
	<title>Estoy aburrido!</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/main.css">
</head>
<body>
	<div id="main"></div>

	<script id="homeTemplate" type="text/template">
		<section class="principal">
			<button>
				Estoy aburrido!!
			</button>
		</section>
	</script>
	<script id="questionsTemplate" type="text/template">
		<header class="questionHeader">
			<h2>¿Cómo te llamas?</h2>
			<form>
				<input type="text" name="nombre" placeholder="Tu nombre..."/>
			</form>
		</header>
		<section class = "questionSection">
			<h2>Querés estar...</h2>
			<div>
				<button id='airelibre'>Al aire libre</button>
				<button id='adentro'>Adentro</button>
				<button id='medaigual'>Me da igual</button>
			<div>
		</section>
	</script>
	<script id="mapTemplate" type="text/template">
		<section class="sectionMenu">
			<article>
				<p>Futbol (5)</p>
				<button>Unirse</button>
			</article>
			<article>
				<p>Escondida (10)</p>
				<button>Unirse</button>
			</article>
			<article>
				<p>Pes (15)</p>
				<button>Unirse</button>
			</article>
			<article>
				<p>Estudiando (2)</p>
				<button>Unirse</button>
			</article>
			<article>
				<button>Crea tu propia actividad</button>
			</article>
		</section>
		<section class="sectionMap">
			map
		</section>
	</script>

	<script id="actividadTemplate" type="text/template">
		<h2>¡Crea tu propia actividad!</h2>
			<form>
				<input type="text" name="nombre" placeholder="El nombre de tu actividad"/>
				<input type="text" name="horarioInicio" placeholder="Comieza a las..."/>
				<input type="text" name="horarioFin" placeholder="Termina a las..."/>
				<button id='crearActividad'>¡Listo!</button>
			</form>
		</h2>
	</script>

	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/underscore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhH4Z3EXLugO3TM928tPIpoL9Jt6YpSVg&sensor=true"
  type="text/javascript"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
</body>
</html>